<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="../public/css/jass.css">
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>

<body>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <header>
    <h1>The Tech Blog</h1>
  </header>
  <main>
    <div class="gallery">
      <section class="container">
        <h3 class="gallery-name">{{gallery.name}}</h3>
        <h4>Opening Hour: {{format_time gallery.starting_date}}</h4>
        <h4>Closing Hour: {{format_time gallery.ending_date}}</h4>
        <section class="flex-row justify-center">
          {{#each gallery.paintings as |painting|}}
          {{> painting-details}}
          {{/each}}
        </section>
      </section>
    </div>
  </main>
  {{#if loggedIn}}
  <script src="../public/js/logout.js"></script>
  {{/if}}
</body>

</html>